.CommentCard {
  @include card-small;
  @include alt-card-with-header-and-footer;
  @include margin($base-spacing auto null auto);

  &__card-header {
    display: flex;
    flex-flow: row wrap;

    p {
      width: 50%;
    }

    .CommentIconPanel {
      width: 50%;
      text-align: right;

      @include icon-panel;
    }
  }
}

.CommentFormCard {
  @include card-large;
  @include card-plain;
  @include margin(null null $base-spacing null);
}

.CommentForm {
  @include form;
}
