.EventsRibbon {
  @include action-ribbon;

  &__form_inline {
    @include form-inline;
  }
}

.EventsContainer {
  @include default-grid;
}

.EventCard {
  @include card-large;
  @include card-with-header
  @include card-with-header-and-footer;
  @include card-plain;
  @include margin($base-spacing auto null auto);

  &__card-header {
    display: flex;
    flex-flow: row wrap;

    p {
      width: 50%;
    }

    .EventIconPanel {
      width: 50%;
      text-align: right;

      @include icon-panel;
    }
  }

  &__card-summary {
    @include markdown;
  }

  &__details-link {
    font-family: $heading-semibold-font-family;
    text-transform: uppercase;
    text-align: center;

    a {
      color: $black;
    }
  }
}

.EventPagination {
  font-family: $heading-semibold-font-family;
  text-transform: uppercase;
  text-align: center;

  @include margin($super-spacing null);

  a {
    color: $black;

    @include margin(null $base-spacing);

    @media screen and (min-width: $M) {
      @include margin(null $super-spacing);
    }

    &:hover {
      color: map-get($theme-colors, primary);
    }
  }

  p {
    @include margin($base-spacing null);
  }
}

.EventFormCard {
  @include margin(null null $base-spacing null);
}

.EventForm {
  @include form;
}
