.LocationsCard {
  @include card-large;
  @include card-plain;
  @include margin($base-spacing auto null auto);

  &__button-wrapper {
    text-align: center;
  }

  &__button_solid {
    @include button-solid($black, white);
  }

  &__card-item {
    display: flex;
    flex-flow: row wrap;

    @include margin($base-spacing);
    @include padding($small-spacing $small-spacing $large-spacing $small-spacing);
    @include border-width(1px);
    @include border-color($gray-40);
    @include border-style(solid);
    @include border-top-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
  }

  &__location-info {
    text-align: center;

    @include margin($base-spacing auto null auto);

    p {
      @include margin(0);
    }

    p:first-of-type {
      font-family: $heading-semibold-font-family;
      text-transform: uppercase;
    }
  }

  .LocationIconPanel {
    width: 100%;
    text-align: right;

    @include icon-panel;
  }
}

.LocationCard {
  @include card-large;
  @include card-plain;
  @include card-with-footer;
  @include margin($base-spacing auto null auto);
}

.LocationFormCard {
  @include margin(null null $base-spacing null);
}

.LocationForm {
  @include form;
}
