.SearchPanel {
  &__header {
    text-align: right;
    padding: spacing-size(2);
  }

  &__toggle {
  }

  &__content {
    visibility: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity .3s linear, padding .3s linear, max-height .5s ease-out, visibility .3s linear;
    width: 100%;
    background-color: $white;
    padding: 0;

    &--opened {
      visibility: visible;
      max-height: 1000px;
      opacity: 1;
      transition: max-height .5s linear, opacity .6s linear;
      padding-bottom: spacing-size(4);
      border-bottom: 1px solid grayscale-color(40);
    }

    .Form {
      max-width: 1000px;

      &__row {
        margin-top: 0;
        margin-bottom: 0;
      }

      &__column--third {
        margin-bottom: 0;
      }

      &__group {
        label {
          font-family: $heading-semibold-font-family;
          text-transform: uppercase;
          color: $black;
        }
      }
    }
  }
}

.js-search-panel-toggle {
  margin-right: spacing-size(2);
}

.EventDetails {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  &__group {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .InfoBox {
      max-width: 450px;
      width: 100%;
    }

    .InfoBox__group {
      margin-top: spacing-size(3);
      margin-bottom: spacing-size(3);
    }

    .InfoBox__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65px;
      padding: 0;
    }

    @include breakpoint-m {
      width: 50%;
    }

    &:first-child {
      @include breakpoint-m {
        justify-content: flex-end;

        .InfoBox {
          margin-right: spacing-size(2);
        }
      }
    }

    &:last-child {
      @include breakpoint-m {
        justify-content: flex-start;

        .InfoBox {
          margin-left: spacing-size(2);
        }
      }
    }
  }
}
