@mixin card-large {
  width: 97%;

  @media screen and (min-width: $M) {
    width: 75%;
  }

  @media screen and (min-width: $L) {
    width: 65%;
  }
}

@mixin card-small {
  width: 97%;

  @media screen and (min-width: $M) {
    width: 75%;
  }

  @media screen and (min-width: $L) {
    width: 50%;
  }
}

@mixin card-common {
  word-wrap: break-word;

  @include padding(0);
  @include margin($small-spacing auto);

  &__card-title {
    color: $black;
    text-transform: uppercase;
    text-align: center;
  }

  &__info-box-group {
    width: 97%;

    @include margin(null auto);

    @media screen and (min-width: $M) {
      width: 75%;
    }
  }

  &__info-box {
    @include padding($tiny-spacing);
    @include margin($base-spacing $tiny-spacing);
    @include border-width(2px);
    @include border-style(solid);
    @include border-color($black);
    @include border-top-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);

    p {
      &:first-of-type {
        font-family: $heading-semibold-font-family;
        text-transform: uppercase;
        text-align: center;
        width: $super-spacing * 2;
        background-color: white;

        @include margin((-2 * $small-spacing) null null null);
      }

      &:last-of-type {
        text-align: center;
      }
    }
  }

  &__item {
    display: block;
    font-family: $heading-semibold-font-family;
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: $black;

    @include margin($tiny-spacing);
    @include padding($base-spacing $small-spacing);
    @include border-width(1px);
    @include border-color($gray-40);
    @include border-style(solid);
    @include border-top-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);

    @media screen and (min-width: $M) {
      @include margin($small-spacing);
      @include padding($base-spacing);
    }

    @media screen and (min-width: $L) {
      @include margin($base-spacing);
      @include padding($large-spacing);
    }

    &:hover {
      color: $gray-80;

      @include border-color($gray-80);
    }
  }

  &__button-group {
    width: 100%;
    justify-content: center;

    @include button-group;
  }

  &__button_solid {
    @include button-solid($black, white);
  }

  &__button_outline {
    @include button-outline($black);
  }
}

@mixin card-header {
  font-size: 85%;
  line-height: 1.5;

  @include margin(0);
  @include padding($small_spacing);
  @include border-width(1px 1px 0);
  @include border-style(solid);
  @include border-color($gray-30);
  @include border-top-radius($base-border-radius);

  p {
    @include margin(0);
  }

  a {
    color: map-get($theme_colors, primary);

    &:hover {
      color: darken(map-get($theme_colors, primary), 10%);
      text-decoration: none;
    }
  }
}

@mixin card-body {
  background-color: white;

  @include padding($mid-spacing);

  @media screen and (min-width: $M) {
    @include padding($base-spacing);
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: $black;
  }
}

@mixin card-footer {
  background-color: white;
  font-size: 85%;
  line-height: 1.5;
  text-align: center;

  @include margin(0);
  @include padding($small-spacing);
  @include border-width(0 1px 5px 1px);
  @include border-style(solid);
  @include border-color(null $gray-40 $black $gray-40);
  @include border-bottom-radius($base-border-radius);

  p {
    @include margin(0);
  }

  a {
    color: $black;

    &:hover {
      color: $gray-80;

      @include border-color($gray-80);
    }
  }
}

@mixin card-plain {
  @include card-common;

  &__card-body_rounded {
    @include card-body;
    @include border-width(1px 1px 5px 1px);
    @include border-style(solid);
    @include border-color($gray-30 $gray-30 $black $gray-30);
    @include border-top-radius($base-border-radius);
    @include border-bottom-radius($base-border-radius);
  }
}

@mixin card-with-header {
  @include card-common;

  &__card-header {
    @include card-header;
  }

  &__card-body_rounded-bottom {
    @include card-body;
    @include border-width(null 1px 5px 1px);
    @include border-style(null solid solid solid);
    @include border-color(null $gray-30 $black $gray-30);
    @include border-bottom-radius($base-border-radius);
  }
}

@mixin card-with-footer {
  @include card-common;

  &__card-body_rounded-top {
    @include card-body;
    @include border-width(1px 1px null 1px);
    @include border-style(solid solid null solid);
    @include border-color($gray-30 $gray-30 null $gray-30);
    @include border-top-radius($base-border-radius);
  }

  &__card-footer {
    @include card-footer;
  }
}

@mixin card-with-header-and-footer {
  @include card-common;

  &__card-header {
    @include card-header;
  }

  &__card-body_not-rounded {
    @include card-body;
    @include border-width(null 1px null 1px);
    @include border-style(null solid null solid);
    @include border-color(null $gray-30 null $gray-30);
  }

  &__card-footer {
    @include card-footer;
  }
}
