@mixin hero-regular {
  text-align: center;

  @include margin(null null 12px null);
  @include padding($base-spacing);

  @media screen and (min-width: $M) {
    @include padding($super-spacing);
  }

  // &__heading, &__lead {
  // }

  &__headline {
    font-size: 300%;
  }

  &__button-solid {
    @include button-solid($black, white);
  }

  &__button-outline {
    @include button-outline($black);
  }
}

@mixin hero-inverted {
  @include hero-regular;

  background-color: $black;

  &__headline {
    color: white;
  }

  &__button-outline {
    @include button-outline(white);

    &:hover {
      background-color: white;
      color: $black;
    }
  }
}
