@mixin action-ribbon {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include margin($base-spacing auto $large-spacing auto);

  &__button_solid {
    @include button-solid($black, white);
  }

  &__button_outline {
    @include button-outline($black);
  }
}
