.AdminCard
  .AdminCard__card-body_rounded
    %h1.AdminCard__card-title= I18n.t('pages.admin.index.title')
    = link_to blazer_path, class: 'AdminCard__item' do
      = I18n.t('pages.admin.index.analytics_link')
      %i{ class: 'fas fa-chevron-right', title: I18n.t('pages.admin.index.analytics_link') }
