.Footer {

  @include margin($super-spacing null);

  &__footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: $S) {
      flex-flow: row wrap;
    }

    a {
      color: $black;

      @include margin($tiny-spacing);
      @include padding($tiny-spacing);

      &:hover {
        color: $gray-80;

        @include border-color($gray-80);
      }
    }
  }

  &__copyright {
    text-align: center;

    @include margin($base-spacing);
  }
}
