html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  vertical-align: text-bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  margin: 0 0 $mid-spacing;
}

h1 {
  font-size: modular-scale(3);
  font-family: $heading-bold-font-family;
}

h2,
h3 {
  font-size: modular-scale(2);
  font-family: $heading-semibold-font-family;
}

h4,
h5,
h6 {
  font-size: modular-scale(1);
  font-family: $heading-regular-font-family;
}

p {
  margin: 0 0 $mid-spacing;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  transition: color $base-duration $base-timing;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    outline: none;
    outline-offset: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $small-spacing 0 $base-spacing 0;
}

.text-muted {
  color: $gray-70;
}

.text-centered {
  text-align: center;
}

.text-standout {
  font-family: $heading-semibold-font-family;
  text-transform: uppercase;
}
