= title I18n.t('pages.privacy_policy.title')
= description I18n.t('pages.privacy_policy.description')

.PrivacyPolicyCard
  .PrivacyPolicyCard__card-body_rounded
    %h1.PrivacyPolicyCard__card-title= I18n.t('pages.privacy_policy.title')
    = I18n.t('pages.privacy_policy.body').html_safe
