.PasswordCard
  .PasswordCard__card-body_rounded
    = form_for :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { method: :put } do |form|
      .PasswordForm
        .PasswordForm__form-group
          = form.label :password
          = form.password_field :password
        .PasswordForm__form-action
          = form.submit 'Save Password'
