.PasswordCard
  .PasswordCard__card-body_rounded
    = form_for :password, url: passwords_path do |form|
      .PasswordForm
        .PasswordForm__form-group
          = form.label :email
          = form.text_field :email, type: 'email'
        .PasswordForm__form-action
          = form.submit 'Reset Password'
