@import "font-awesome-sprockets";
@import "font-awesome";
@import "actiontext";
@import "flatpickr/dist/themes/dark";

@font-face {
  font-family: 'open_sansregular';
  src: asset-url('OpenSans-Regular-webfont.eot');
  src:
    asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('OpenSans-Regular-webfont.woff') format('woff'),
    asset-url('OpenSans-Regular-webfont.ttf') format('truetype'),
    asset-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src:
    asset-url('poppins-bold-webfont.woff2') format('woff2'),
    asset-url('poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src:
    asset-url('poppins-regular-webfont.woff2') format('woff2'),
    asset-url('poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src:
    asset-url('poppins-semibold-webfont.woff2') format('woff2'),
    asset-url('poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-family: 'open_sansregular';
$heading-bold-font-family: 'poppinsbold';
$heading-semibold-font-family: 'poppinssemibold';
$heading-regular-font-family: 'poppinsregular';

@import "mushaka-design/src/main";

@import "custom/layout";
@import "custom/pages";

trix-toolbar {
  margin: spacing-size(2);

  button.trix-button--icon-code,
  button.trix-button--icon-increase-nesting-level,
  button.trix-button--icon-decrease-nesting-level {
    display: none;
  }
}

trix-editor {
  @extend %basic-form-field-styling;

  margin: spacing-size(2);
  min-height: 300px;
}

.trix-content {
  h1 {
    @extend %heading-4-style;
  }

  div {
    @extend %default-body-text-styling;

    a {
      @extend %default-link-styling;
      @include link-color-scheme(theme-color('primary'));
    }
  }

  blockquote {
    @extend %default-blockquote-styling;
  }

  code, pre {
    @extend %default-body-text-styling;
    @extend %default-code-styling;
  }

  ul {
    @extend %default-ulist-styling;
  }
}

.Form__group--boxed {
  border: 2px solid $black;
  padding: spacing-size(2);

  label {
    font-family: $heading-semibold-font-family;
    text-transform: uppercase;
    color: $black;
  }

  select {
    text-align: center;
  }
}

.Form__time-field-group {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin: spacing-size(3) auto;

  @include breakpoint-m {
    width: 100%;
  }

  select {
    flex: 100%;
    margin: spacing-size(2) auto;
    text-align: center;

    @include breakpoint-s {
      flex: 10%;
      margin: auto spacing-size(1);
    }
  }
}

.u-Element {
  &--long {
    @include breakpoint-s {
      width: 80% !important;
      min-width: 390px;
    }

    @include breakpoint-m {
      width: 70% !important;
      min-width: 420px;
    }

    @include breakpoint-l {
      width: 60% !important;
      min-width: 440px;
    }
  }

  &--medium {
    @include breakpoint-s {
      width: 60% !important;
      min-width: 310px;
    }

    @include breakpoint-m {
      width: 50% !important;
      min-width: 331px;
    }

    @include breakpoint-l {
      width: 40% !important;
      min-width: 304px;
    }
  }

  &--short {
    @include breakpoint-s {
      width: 40% !important;
      min-width: 198px;
    }

    @include breakpoint-m {
      width: 30% !important;
      min-width: 195px;
    }

    @include breakpoint-l {
      width: 20% !important;
      min-width: 147px;
    }
  }
}

.Form {
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: spacing-size(4);
    margin-bottom: spacing-size(4);

    .Form__group,
    .Form__group--boxed {
      width: 100%;
      margin: 0;
    }
  }

  &__column {
    &--full {
      width: 100%;
    }

    &--twoThirds {
      width: 100%;

      &:first-child {
        margin-bottom: spacing-size(4);
      }

      @include breakpoint-s {
        width: 65%;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    &--half {
      width: 100%;

      &:first-child {
        margin-bottom: spacing-size(4);
      }

      @include breakpoint-s {
        width: 49%;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    &--third {
      width: 100%;

      &:first-child {
        margin-bottom: spacing-size(4);
      }

      @include breakpoint-s {
        width: 32%;

        &:first-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.flatpickr-input {
  cursor: pointer !important;
  background-color: $white !important;
}

.SearchPanel {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity .3s ease, max-height .6s linear;
  width: 100%;
  background-color: $white;
  padding: 0;

  &--opened {
    visibility: visible;
    max-height: 1000px;
    opacity: 1;
    transition: max-height .5s linear, opacity .3s linear .1s;
    padding-bottom: spacing-size(4);
    border-bottom: 1px solid grayscale-color(40);
  }

  .Form {
    max-width: 1000px;

    &__row {
      margin-top: 0;
      margin-bottom: 0;
    }

    &__column--third {
      margin-bottom: 0;
    }

    &__group {
      label {
        font-family: $heading-semibold-font-family;
        text-transform: uppercase;
        color: $black;
      }
    }
  }
}

.js-search-panel-toggle {
  margin-right: spacing-size(2);
}
