@import "font-awesome-sprockets";
@import "font-awesome";
@import "actiontext";

@font-face {
  font-family: 'open_sansregular';
  src: asset-url('OpenSans-Regular-webfont.eot');
  src:
    asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('OpenSans-Regular-webfont.woff') format('woff'),
    asset-url('OpenSans-Regular-webfont.ttf') format('truetype'),
    asset-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src:
    asset-url('poppins-bold-webfont.woff2') format('woff2'),
    asset-url('poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src:
    asset-url('poppins-regular-webfont.woff2') format('woff2'),
    asset-url('poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src:
    asset-url('poppins-semibold-webfont.woff2') format('woff2'),
    asset-url('poppins-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-family: 'open_sansregular';
$heading-bold-font-family: 'poppinsbold';
$heading-semibold-font-family: 'poppinssemibold';
$heading-regular-font-family: 'poppinsregular';

@import "mushaka-design/src/main";

@import "layout";
@import "pages";

trix-editor {
  @extend %basic-form-field-styling;
}

.trix-content {
  h1 {
    @extend %heading-4-style;
  }

  div {
    @extend %default-body-text-styling;

    a {
      @extend %default-link-styling;
      @include link-color-scheme(theme-color('primary'));
    }
  }

  blockquote {
    @extend %default-blockquote-styling;
  }

  code, pre {
    @extend %default-body-text-styling;
    @extend %default-code-styling;
  }

  ul {
    @extend %default-ulist-styling;
  }
}
