.Navbar {
  text-transform: uppercase;
  background-color: white;

  @media screen and (min-width: viewport-size("L")) {
    display: flex;
  }

  &__navbar-header {
    width: 100%;
    margin: 0;
    padding: spacing-size("small") 0;

    @media screen and (min-width: viewport-size("L")) {
      flex: 30%;
    }
  }

  &__navbar-toggle {
    font-size: 150%;
    text-decoration: none;
    padding: spacing-size("small");

    @media screen and (min-width: viewport-size("L")) {
      visibility: hidden;
    }

    &:focus {
      outline-color: transparent;
    }

    & > i {
      color: $black;
    }
  }

  &__navbar-brand {
    color: $black;
    font-size: 150%;
    font-family: $heading-bold-font-family;
  }

  &__navbar-menu {
    background-color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateX(-200%);
    transition: transform 0.6s ease;
    z-index: 9;

    @media screen and (min-width: viewport-size("L")) {
      position: relative;
      flex: 70%;
      align-self: center;
      transform: none;
      transition: none;
    }

    &_opened {
      transform: translateX(0);
    }

    & > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & > li {
        @media screen and (min-width: viewport-size("L")) {
          display: inline;
        }
      }
    }
  }

  &__navbar-link {
    display: block;
    font-family: $heading-regular-font-family;
    font-size: 125%;
    text-decoration: none;
    color: $black;
    padding-top: spacing-size("mid");
    padding-bottom: spacing-size("mid");

    @media screen and (min-width: viewport-size("L")) {
      display: inline;
      padding: 0 spacing-size("mid");
    }

    &:focus {
      outline-color: transparent;
    }

    &:hover {
      color: theme-color("primary");
    }

    &:active {
      color: theme-color("primary");
    }
  }
}

.Header {
  padding-left: spacing-size("small");
  padding-right: spacing-size("small");
}

.Footer {
  margin-top: spacing-size("super");
  margin-bottom: spacing-size("super");

  &__link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: viewport-size("S")) {
      flex-flow: row wrap;
    }
  }

  &__link {
    margin: spacing-size("tiny");
    padding: spacing-size("tiny");
  }

  &__copyright {
    text-align: center;
    margin: spacing-size("base");
  }
}
