= title I18n.t('pages.locations.new.title')

.LocationCard.LocationFormCard
  .LocationCard__card-body_rounded
    %h1.LocationCard__card-title= I18n.t('pages.locations.new.title')
    = render 'form'
